# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [4]:
 import sqlite3 as sl
 import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [12]:
# Create a new database called exercises.db.
conn = sl.connect('excercise.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [5]:
# Create a new table in your database.
conn = sl.connect('favorite_books.db')
print('Opened database successfully')

conn.execute('''Create table favorite_books
             (ID INT Primary Key NOT NULL,
              title  varchar2(25),
              author varchar2(20),
              description  varchar2(25))''')
print ('Table created successfully')

Opened database successfully
Table created successfully

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [8]:
# Add your 3 favorite books to your table.
with conn:
    conn.execute(''' Insert into favorite_books(ID,title,author,description)\
     values(2,'Little women1','Lousia1','teenage')''');
    conn.commit()
    print('Records created successfully')

Records created successfully

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [9]:
# Write your SELECT query here.
with conn:
    cursor = conn.execute('select * from favorite_books')
    for row in cursor:
        print (row)

(1, 'Little women', 'Lousia', 'teenage')
(2, 'Little women1', 'Lousia1', 'teenage')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [11]:
# Use Pandas to make a new table in your database.
with conn:
 conn.execute('''create table favorite_movies
            (   ID INT Primary key NOT NULL,
                title   text )''')
 print('table created')

table created

In [12]:
with conn:
    conn.execute('Drop table favorite_movies')
    print('table deleted')

table deleted

In [25]:
data = { 'ID' : [1,2,3],
         'Title' : ['Avenger','Harrypotter','Minions']
       }
df = pd.DataFrame(data)

In [26]:
df

   ID        Title
0   1      Avenger
1   2  Harrypotter
2   3      Minions

In [28]:
df.to_sql('favorite_movies',conn)

3

In [29]:
with conn:
    cursor = conn.execute('select * from favorite_movies')
    for row in cursor:
        print(row)

(0, 1, 'Avenger')
(1, 2, 'Harrypotter')
(2, 3, 'Minions')